@font-face {
	font-family: "Roboto";
	src: url("https://xml4eva.github.io/fonts/Roboto-Regular.eot");
	src: url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.ttf") format("truetype"), url("/fonts/Roboto-Regular.svg#aller") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("https://xml4eva.github.io/fonts/Roboto-Bold.eot");
	src: url("https://xml4eva.github.io/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Bold.woff") format("woff"), url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.ttf") format("truetype"), url("/fonts/Roboto-Bold.svg#aller") format("svg");
	font-weight: bold;
	font-style: normal;
}


:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	text-align: left;
	background-color: #fff;
}

p, span, h1, h2, h3, h4, h5, h6, label, li, a {
	font-family: "Roboto", sans-serif;
}


.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px;
}

.form-group {
	margin-bottom: 1rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@media (min-width: 576px) {
	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.order-md-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.order-md-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
	.btn {
		-webkit-transition: none;
		transition: none;
	}
}

.btn:hover {
	color: #212529;
	text-decoration: none;
}

.btn:focus, .btn.focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-block {
	display: block;
	width: 100%;
}

.text-md-left {
	text-align: left !important;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-feedback {
	text-align: left !important;
	font-size: 12px !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: 1.67 !important;
	letter-spacing: normal !important;
	text-align: left !important;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

	.form-feedback:before {
		content: '';
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-size: 8px;
		width: 8px;
		height: 8px;
		display: inline-block;
		margin-right: 5px;
	}

	.form-feedback.success {
		color: #006e28 !important;
	}

		.form-feedback.success:before {
			background-image: url(./https://xml4eva.github.io/images/icon-check-green.svg);
		}

	.form-feedback.error {
		border: 1px solid #cf2717 !important;
		color: #cf2717 !important;
	}

		.form-feedback.error:before {
			background-image: url(./https://xml4eva.github.io/images/icon-cross-red.svg);
		}

/** Checkboxes & Radios **/
.checkbox-container, .radio-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

	.checkbox-container input[type=checkbox], .checkbox-container input[type=radio], .radio-container input[type=checkbox], .radio-container input[type=radio] {
		background-color: #d2d7d7;
		width: 30px;
		height: 30px;
		position: relative;
		margin-right: 15px;
		border: 1px solid #fff;
		z-index: 20;
		opacity: 0;
	}

		.checkbox-container input[type=checkbox] + span, .checkbox-container input[type=radio] + span, .radio-container input[type=checkbox] + span, .radio-container input[type=radio] + span {
			background-color: #d2d7d7;
			content: ' ';
			display: block;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		.checkbox-container input[type=checkbox]:checked + span, .checkbox-container input[type=radio]:checked + span, .radio-container input[type=checkbox]:checked + span, .radio-container input[type=radio]:checked + span {
			border: 1px solid #000000;
			top: -1px;
			left: -1px;
			width: 32px;
			height: 32px;
		}

			.checkbox-container input[type=checkbox]:checked + span:after, .checkbox-container input[type=radio]:checked + span:after, .radio-container input[type=checkbox]:checked + span:after, .radio-container input[type=radio]:checked + span:after {
				display: block;
				position: absolute;
				content: ' ';
				width: 12px;
				height: 12px;
				background-position: 50%;
				background-repeat: no-repeat;
				top: -webkit-calc(50% - 6px);
				top: expression(50% - 6px);
				top: -o-calc(50% - 6px);
				top: calc(50% - 6px);
				left: -webkit-calc(50% - 6px);
				left: expression(50% - 6px);
				left: -o-calc(50% - 6px);
				left: calc(50% - 6px);
				background-image: url("https://xml4eva.github.io/images/icon-check-black.svg");
			}

			.checkbox-container input[type=checkbox]:checked + span + label, .checkbox-container input[type=radio]:checked + span + label, .radio-container input[type=checkbox]:checked + span + label, .radio-container input[type=radio]:checked + span + label {
				font-weight: bold;
			}

		.checkbox-container input[type=checkbox].darkTick + span:after, .checkbox-container input[type=radio].darkTick + span:after, .radio-container input[type=checkbox].darkTick + span:after, .radio-container input[type=radio].darkTick + span:after {
			background-image: url("https://xml4eva.github.io/images/icon-check-black.svg");
		}

		.checkbox-container input[type=checkbox].lightTick + span:after, .checkbox-container input[type=radio].lightTick + span:after, .radio-container input[type=checkbox].lightTick + span:after, .radio-container input[type=radio].lightTick + span:after {
			background-image: url("https://xml4eva.github.io/images/icon-check-white.svg");
		}

	.checkbox-container label, .radio-container label {
		margin-bottom: 0px;
		font-size: 14px;
	}

		.checkbox-container label a, .radio-container label a {
			font-weight: bold;
			text-decoration: underline;
			color: #412814;
		}

.form-group {
	margin-bottom: 15px;
	/* Labels */
	/* Checkboxes & Radios */
	/*Form Controls*/
}

	.form-group label {
		display: inline-block;
		margin-bottom: 5px;
		cursor: pointer;
		font-size: 12px;
		line-height: 1.6;
		color: #422715;
	}

@media (max-width: 767.98px) {
	.form-group label {
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.6;
		letter-spacing: normal;
		margin-bottom: 4px;
	}
}

.form-group label.form-check-label {
	font-weight: normal;
	padding-left: 10px;
}

@media (max-width: 767.98px) {
	.form-group label.form-check-label {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}

.form-group .checkbox-container, .form-group .radio-container {
	position: relative;
	padding-left: 30px;
}

	.form-group .checkbox-container input[type=checkbox], .form-group .checkbox-container input[type=radio], .form-group .radio-container input[type=checkbox], .form-group .radio-container input[type=radio] {
		background-color: #ffffff;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		border: 1px solid #fff;
		position: absolute;
		top: 0px;
		top: -webkit-calc(50% - 10px);
		top: expression(50% - 10px);
		top: -o-calc(50% - 10px);
		top: calc(50% - 10px);
		left: 0;
	}

		.form-group .checkbox-container input[type=checkbox] + span, .form-group .checkbox-container input[type=radio] + span, .form-group .radio-container input[type=checkbox] + span, .form-group .radio-container input[type=radio] + span {
			background-color: #ffffff;
			width: 20px;
			height: 20px;
			border: 1px solid #422715;
			top: 0px;
			top: -webkit-calc(50% - 10px);
			top: expression(50% - 10px);
			top: -o-calc(50% - 10px);
			top: calc(50% - 10px);
			left: 0;
		}

		.form-group .checkbox-container input[type=checkbox]:checked + span, .form-group .checkbox-container input[type=radio]:checked + span, .form-group .radio-container input[type=checkbox]:checked + span, .form-group .radio-container input[type=radio]:checked + span {
			border-color: #422715;
		}

	.form-group .checkbox-container label, .form-group .radio-container label {
		margin: 0px !important;
	}

.form-group .form-control {
	border-color: #422715;
	padding: 12px 14px 11px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	margin-top: 0px;
	border-radius: 0px;
}

	.form-group .form-control.form-feedback {
		margin-top: 0px !important;
	}

	.form-group .form-control::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: #d2d7d7;
	}

	.form-group .form-control::-moz-placeholder {
		/* Firefox 19+ */
		color: #d2d7d7;
	}

	.form-group .form-control:-ms-input-placeholder {
		/* IE 10+ */
		color: #d2d7d7;
	}

	.form-group .form-control:-moz-placeholder {
		/* Firefox 18- */
		color: #d2d7d7;
	}

.form-group .bs-select .dropdown-toggle {
	border-color: #422715 !important;
	color: #d2d7d7;
}

.form-information {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #7d7873;
	width: 100%;
	display: block;
}

@media (max-width: 767.98px) {
	.form-information {
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	.checkout-selection-block-container {
		height: 100% !important;
		padding-bottom: 15px;
	}

		.checkout-selection-block-container .checkout-selection-block-selector {
			height: 100% !important;
			margin-bottom: 0px;
		}
}

.checkout-selection-block-selector {
	margin-bottom: 10px;
	border: 1px solid #d2d7d7;
	padding: 15px;
	position: relative;
}

@media (min-width: 768px) {
	.checkout-selection-block-selector {
		margin-bottom: 20px;
	}
}

.checkout-selection-block-selector:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #412814;
}

.checkout-selection-block-selector.selected, .checkout-selection-block-selector:hover {
	cursor: pointer;
	border: 2px solid #412814;
	padding: 14px;
}

	.checkout-selection-block-selector.selected:before, .checkout-selection-block-selector:hover:before {
		border-width: 2px;
		top: 14px;
		left: 14px;
	}

	.checkout-selection-block-selector.selected:after, .checkout-selection-block-selector:hover:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 19px;
		left: 19px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #412814;
	}

	.checkout-selection-block-selector.selected .delivery-option-price, .checkout-selection-block-selector:hover .delivery-option-price {
		top: -1px;
		right: -1px;
	}

@media (min-width: 768px) {
	.checkout-selection-block-selector.selected .delivery-option-price, .checkout-selection-block-selector:hover .delivery-option-price {
		top: unset;
		bottom: 0px;
		left: 30px;
		right: unset;
	}
}

@media (max-width: 767.98px) {
	.checkout-selection-block-selector.selected .checkout-selection-block-details {
		display: block;
	}
}

.checkout-selection-block-selector .checkout-selection-block-details {
	padding-top: 14px;
	border-top: 1px solid #d2d7d7;
	margin-top: 12px;
	padding-bottom: 0px;
}

.btn.btn-cta.btn-cta-principal {
	padding: 12px 46.5px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.43;
	margin: 0px;
	border-radius: 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
	position: relative;
	color: #ffffff !important;
	background-color: #422715;
}

	.btn.btn-cta.btn-cta-principal:hover {
		background-color: #1d0b00;
		color: #ffffff;
	}